

@media only screen and (max-width: 800px) {
    * {box-sizing: border-box;margin: 0px;padding:0px;color:lightgray;font-family: cursive;}
    
    body {background-color: rgb(40, 40, 40);}
    
    #principal{
        margin: auto;
        display: grid;
        grid-template-columns: [col1] 100% [col2];
        grid-template-rows:[row1] auto [row2] auto [row3] auto [row4] auto [row5] auto [row6] auto [row7];
        width: 80%;
        height: auto;
    }
     .header {
         position:sticky;
         top:0;
         padding:5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background:black;
        }
        .icon {
            display:flex;
            width: 20%;
            height:100%;
        }
       
            

        .icon button {
            background-color: lightgray;
            margin:20px;
        }
        .icon button img {
            width:50px;
            height:50px;
            background-color: lightgray;
        }

        .dropbtn {
            border: none;
            cursor: pointer;
          }

          #logo {
            width:100%;
            height:100%;
        }

          .dropdown-content {
            display: none;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            position:absolute;
            margin-top:100px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content p {
            background-color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .show {display: block;}
    
        
        .botons {
            background-color: black;
            display:flex;
            flex-direction: row;
            width: 25%;
            height:100%;
            padding:10px;
        }
            .botons a {
                
                border: none;
                padding: 0;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                padding: 4px 5px;
                margin-left:5px;
                float:right;
                background-color: white;
                width:50%;
                height:40%;
                margin-top:20px;
            }
            .botons a img {
                background-color: white;
                height:100%;
                width:100%;
            }
           
    #destacat1 {
        display: flex;
        
    }
        #destacat1 .oferta {
            order:1;
            width: 35%;
            height: 100%;
            background-color: rgb(25, 25, 25);
            text-align: center;
        }
        #destacat1 .oferta h2 {
            margin-top: 30%;
            padding:5px;
        }
        #destacat1 .oferta h5 {margin:20px;}
        #destacat1 .oferta a {margin:20px;}
        #destacat1 .oferta button {
            width:40%;
            height:8%;
            margin-top:20px;
            background-color: black;
            border-radius: 8px;
            padding-bottom:10px;
        }
    
        #destacat1 .fotoCotxo {
            order:2;
            width: 65%;
            height:100%;
            background-color: rgb(25, 25, 25);
            padding-left:10px;
            padding-bottom:10px;
        }
            #destacat1 .fotoCotxo img {
                width:100%;
                height:100%;
                border-radius:20px;
                margin-top:5px;
                margin-bottom: 5px;
            }
    
    #destacat2 {
        display: flex;
        
    }
        #destacat2 .oferta {
            order:2;
            width: 35%;
            height: 100%;
            background-color: rgb(25, 25, 25);
            text-align: center;
        }
        #destacat2 .oferta h2 {
            margin-top: 30%;
        }
        #destacat2 .oferta h5 {margin:20px;
        }
        #destacat2 .oferta a {margin:20px;
        }
        #destacat2 .oferta button {
            width:40%;
            height:8%;
            margin-top:20px;
            background-color: black;
            border-radius: 8px;
            padding-bottom:10px;
        }
        #destacat2 .fotoCotxo {
            background-color: rgb(25, 25, 25);
            order:1;
            width: 65%;
            height:100%;
            background-color: rgb(25, 25, 25);
            padding-left:10px;
            padding-bottom:10px;
        }
            #destacat2 .fotoCotxo img {
                width:100%;
                height:100%;
                border-radius:20px;
                margin-top:5px;
                margin-bottom: 5px;
            }
    
    #tenda {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: black;
        
    }
        .newproducts {
            order:1;
            height:5%;
            width:100%;
            text-align: center;
            font-family:fantasy;
        }
        .newproducts h6 {
            float:right;
            margin:4px;
        }
    
        .producte {
            order: 2;
            padding-bottom:55px;
            width: 50%;
            
        }
        .producte h3 {
            text-align: center;
            float:left;
        }
        .producte h4 {
            text-align: center;
            float:right;
            margin-left:25px;
            margin-top:5px;
            color:rgb(68, 68, 68)
        }

        .producte .estrelles {
            display:flex;
            
            
            width:50%;
            height:10%;
            padding:auto;
            background-color: lightgray;
            border-radius: 5%;
            padding:1px;
            margin:5px;
            
            
            
        }
.price {
    margin-left:30px;
}

        .producte .estrelles img {
            margin-top:4px;
            width:70%;
            height:70%;
            
        }
.color {
    float:left;
}
        .color button {
            margin-left: 5px;
            border-radius: 50%;
            width: 30px;
            height:30px;
           
            
        }
        .color .white {background-color: rgb(190, 190, 190);}
        .color .black {background-color: rgb(32, 32, 32);}
        .color .yellow {background-color: rgb(238, 238, 79);}
        .color .red {background-color: rgb(202, 74, 74);}
        .color .blue {background-color: rgb(39, 39, 228);}
            .producte img {
                width:100%;
                height:60%;
                border-radius: 10px;
            }

    #opinioClients {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; 
    }

    #opinioClients button {
        margin-top:60px;
        height:20%;
        
    }
    #opinioClients .titolOpinions{
        width: 100%;
        height: 30%;
        text-align: center;
        
    }
    
    .opinionsAll {
        order:2;
        display:flex;
        
        justify-content: space-between;
        flex-direction: row;
    }
    
       

        #opinioClients .opinion1 {
            display:flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 25%;
            height: 85%;
            text-align:center;
            align-items: center;
            justify-content: space-around;
            
            padding-bottom:40px;
            
            
        }

        
        #opinioClients .opinion1 img {
            width:100%;
            height:100%;
            padding:auto;
            
            border-radius: 100%;
        }

        #opinioClients .opinion1 .estrelles {
            display:flex;
            flex-direction: row;
            width:50%;
            height:10%;
            padding:auto;
            background-color: lightgray;
            border-radius: 10%;
            padding:1px;
            margin:5px;
            
        }
    
        #opinioClients .opinion1 .estrelles img {
        
            width:90%;
            height:90%;
            
        }
        #opinioClients .opinion1 a {
            margin:20px
        }

        #opinioClients .opinion {
            display: none;
            
            width: 25%;
            height: 85%;
            text-align: center;
        }

        #opinioClients .opinion img {
            
            width:50%;
            height:50%;
            padding:auto;
            border-radius: 100%;
        }
        #opinioClients .opinion .estrelles {
            width:50%;
            height:10%;
            padding:auto;
            border: 1px solid black;
            border-radius: 0%;
            
        }
       
        
    
    #footer {
        background-color: rgb(25, 25, 25);
        display: grid;
        grid-template-columns: [col1] 100% [col2];
        grid-template-rows:[row1] auto [row2] auto [row3] auto [row4];
        padding:5px;
        
    }
        .info {
            display:flex;
            flex-wrap: wrap;
            border-bottom: lightgray solid 2px;
            
        }
            .info img {
                float:left;
                width:60px;
                height:60px;
                margin: 10px;
                border-radius: 50px;
                margin-right:500px;
                margin-left:30px;
            }
            .info div {
                
                text-align: center;
                font-size: 12px;
                padding-bottom:20px;
                
            }
            .info div h5 {
                
                text-align: center;
                font-size: 12px;
                padding-bottom:0px;
            }
    
        .services {
            float:left;
            display:flex;
            flex-wrap: wrap;
            width:100%; 
            border-bottom: lightgray solid 2px;
             
        }
        
            .services table tr th  {
                padding: 3px;
                text-align: left;
                float:left;
                margin-right:250px;
                border-bottom: lightgray solid 2px;
                
                
            }
    
            .services table tr td {
            
                display:none;
            }
            
        
 
        }